<body class="main-background">
  <form class="form-style" method="POST" action="/auth/password" enctype="multipart/form-data">

  <h1 class="pagetitle">Update password</h1>
  <div class="col-md-10">
    <label class="form-text">Password</label>
    <input type="password" name="password" value="<%= user.password %>" class="form-control"/>
  </div>
</form>
  
</body>