<h1>Create a new Account</h1>
<form method="POST"action="/auth/signup">


  <div>
    <label>Name</label>
    <input type="text" name="name">
  </div>
  <br>
  <div>
    <label>Email Address</label>
    <input type="email" name="emailAddress">
  </div>
  <br>
  <div>
    <label>Password</label>
    <input type="password" name="password" />
  </div>
  <br>
  <div>
    <label>Profile Picture</label>
    <input type="file" name="profilePicture" accept="image/*">
    
  </div>
  <br>
  <div>
    <label>gender</label>
    <br>
      <input type="radio" name="gender" id="male" value="M" checked>
      <label for="male">Male</label>
      <br>
      <input type="radio" name="gender" id="female" value="F">
      <label for="female">Female</label>
  </div>
  <br>
  <div>
    <label>Date Of Birth</label>
    <input type="date" name="dateOfBirth">
  </div>
  <div><button type="submit">Sign Up</button></div>
</form>