<body class="main-background">
<form class="form-style" method="POST"action="/auth/signin">
  <h1 class="form-heading">Sign in</h1>
    <div class="col-md-10">
      <label class="form-text">Email Address</label>
      <input type="email" name="emailAddress" class="form-control">
    </div>
    <br>
    <div class="col-md-10">
      <label class="form-text">Password</label>
      <input type="password" name="password" class="form-control">
    </div>
    <br>
    <div><button type="submit"class="btn btn-primary button-style">Sign In</button></div>
  </form>
</body>