<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1><a href="/" id="noStyle">MELODY APP</a></h1>
  <br><br>
  <hr>
  <nav>
    <a href="/auth/logout"  class="btn btn-outline-primary">Log Out</a>
  <a href="/auth/signin" class="btn btn-outline-primary">Signin</a>
  <a href="/auth/signup" class="btn btn-outline-primary">Create new Account</a>
</nav>  
  <%- body %>

</body>
</html>