@import url('https://fonts.googleapis.com/css2?family=Londrina+Shadow&family=Roboto&display=swap');




.musicplayer{
  font-size: small;
  /* font-style: italic; */
  backdrop-filter: blur(20px);
  text-align: center;
  margin: 50px;
  font-family: 'roboto', sans-serif ;
  width:100vh;
  height: 80vh;
  border-radius: 20px;
  background: rgba(255,255,255,0.08);
  box-shadow: 0 40px, 100px rgba(255,255,255,0.1) ;
  animation: pulse 1s infinite alternate;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.music-name,.artist-name{
text-align: center;
text-transform: capitalize;
}

.music-name{
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 10px;
  
}

.artist-name{
  font-size: 20px;  
}
.disk.play {
  animation-play-state: running;
}

.disk {
  background-color: black;
  position: relative;
  display: block;
  margin: 40px auto;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  background-size:cover;
  background-image: url('');
  box-shadow: 0 0 0 10px rgba(255,255,255, 0.08);
  animation: rotate 20s linear infinite;

}

.disk.play{
  animation-play-state: running ;
}

.song-slider{
  width: 100%;
  position: relative;

}
.seekbar{
  -webkit-appearance: none;
  width: 80%;
  height: 5px;
  border-radius: 10px;
  overflow: hidden;
  background: rgb(217, 217, 217);
  cursor: pointer;
}
.seekbar::-webkit-slider-thumb{
  -webkit-appearance: none;
  width: 10px;
  height: 20px;
  background: black;
  box-shadow: -400px 0 0 400px rgb(2, 106, 251);

}

.current,.after{

  font-size: 14px;
}
.after{
position: absolute;
right: 3%;
top:60%
}
.current{
  position: absolute;
  left: 3%;
  top:60% 
}

.controls{
  width:60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-top: 20px;  
  margin-top: 20px;
}




@keyframes pulse{
  0%{
    box-shadow: 0;
  }
  50%{
    box-shadow: 0 0 0 5px rgba(255,255,255, 0.1);
  }
  100%{
    box-shadow: rgba(255,255,255, 0.4);
  }
}

/* .btn{
  width: 40px;
  height: 40px;
  background: wheat;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  background-color: #ff6347; 
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: background-color 0.3s ease;
} */

.btn:hover {
  background-color: #ff4500; /* Change the hover background color as needed */
}

@keyframes rotate{
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(360deg);
  }
}