header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #2C343A;
  padding: 1% 1.5% 0.5% 1%;
}

nav{
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

body{
  background-image: url("/background/background-gradient-lights-darker.jpg");
  background-size: cover;
  color: white;
  font-family: 'Bauhaus 93', sans-serif;
  margin: 0;
  height: 100vh;
  justify-content: center;
  align-items: center;
}


#dropdown-link, .navLink{
  background-color: transparent;
  border: 0;
  color: white;
  text-decoration: none;
  font-size: large;
  /* font-family: 'Bauhaus 93', sans-serif; */
}

.logo{
  color: white;
  text-decoration: none;
  /* font-family: 'Bauhaus 93', sans-serif; */
}

.ExploreBtn{
  color: white;
  font-size: x-large;
  text-decoration: none;
  border: 1px solid #00FFFF;
  border-radius: 25%;
  padding: 1%;
}

.highlighted{
  -webkit-text-stroke: 0.5px #00FFFF;
  color: white;
}

.user{
color: #d21d96;
-webkit-text-stroke: 0;
}


.form-heading{
  text-align: center;
}
.form-control{
  border-color:#FF10F0;
  margin-left: 10%;
  align-content: center;
}


.form-style{
  background-color: #2C343A;
  width: 39%;
  height: fit-content;
  margin:2%;
  padding: 1.5%;
  border-radius: 3%;
}
.form-text{
  margin-left: 10%;
  color: white;
  font-size: large;
}
.form-content{
  justify-content: center;
  align-items: center;
  text-align: left;
}


.cards{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
}

.card{
  background-color: #2C343A;
  border: 1px solid white;
  color: white;
  align-items: center;
  margin-bottom: 5%;
}

.card-body, .card-text{
  text-decoration: none;
  color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.button-style{
  font-size: large;
  display: block;
  width:150px;
  margin: 10px auto;
  background: #FF10F0;
  justify-content: center;
  border: 0;
  color: white;
  padding: 15px;
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  box-shadow: #131415;
} 

.button-style:hover {
  background-color:#ff0080; 
  color: white;
}

.profile-Picture{
  color: transparent;
  /* margin-top:60%; */
  position: relative;
  border-radius: 50%;
  width:300px;
  /* max-width: 60vh; */
  height:250px;
  margin-top: 30%;
  margin-left: 10%;
}
.main-background{
  background-image: url("/background/bg.png");
  background-size: cover;
  
}
/* .user-detail{ */
  /* align-content:flex-end; */
  /* margin: 12%; */
/* } */
.detail-box{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}
.playlist-style{
  font-size: x-large;
  text-align: center;
}
.playlist-box{
  border: 5px;
  margin: auto;
  padding: 20px;  
  
}
.mid-style{
  justify-content: center;
  
}