<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create Category</title>
</head>
<body>
  <h1 class="pagetitle">Create Category</h1>
  <div class="catogry-box">
  <form class="form-style" action="/category/add" method="POST">
    <div class="col-md-10">
      <label class="form-text"></label>Category Name</label>
      <input type="text" name="name" class="form-control">
    </div>

    <br>
    <div class="col-md-10">
      <label class="form-text">Description</label>
      <input type="text" name="description" class="form-control">
    </div>
    <br>
    <button type="submit" class="btn btn-primary button-style"> Create Category </button>
  </form>
</body>
</div>
</html>
