
<head>
    <title>Update Category</title>
</head>
<body>

<h1 class="pagetitle">Update Category</h1>

<div class="catogry-box">
<form method="post" action="/category/edit" class="form-style">
  <input type="hidden" name="id" value="<%= category._id %>" >
    <div class="col-md-10">
        <label class="form-text" for="categoryName">Name of Category:</label>
        <input type="text" id="categoryName" name="name" class="form-control" placeholder="<%= category.name %> ">
    </div>
    <br>

    <div class="col-md-10">
        <label class="form-text" for="categoryDescription">Description:</label>
        <input type="text" id="categoryDescription" name="description" class="form-control"placeholder=" <%= category.description %> ">
    </div>
    <br>

    <div >
        <button type="submit" class="btn btn-primary button-style">Update Category</button>
    </div>
</form>
</div>
</body>

