<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Image Upload</title>
</head>
<body>
  <form action="/music/add" method="POST" enctype="multipart/form-data">
    <div>
      <label>Music Name</label>
      <input type="text" name="name">
    </div>
    <br>
    <div>
      <label>Name of the author</label>
      <input type="text" name="author">
    </div>
    <br>
    <div>
      <label>Description</label>
      <input type="text" name="description" />
    </div>
    <br>
    <div>
      <label>lyrics</label>
      <input type="text" name="lyrics">
    </div>
    <br>
    <div>
      <label>Audio</label>
      <input type="file" name="audio" accept="audio/*" required>
    </div>
  
    <div>
      <label>Image</label>
      <input type="file" name="image" accept="image/*" required>
    </div>


    
    <input type="hidden" name="id" value="<%= currentUser._id %>">

  
    <button type="submit"> Add Music </button>
  </form>
</body>
</html>
