<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add Music</title>

</head>
<body>
  <form class="form-style" action="/music/add" method="POST" enctype="multipart/form-data">
    <div class="col-md-10">
      <label class="form-text">Music Name</label>
      <input type="text" name="name" class="form-control">
    </div>
    <br>
    <div class="col-md-10">
      <label class="form-text">Name of the author</label>
      <input type="text" name="author" class="form-control">
    </div>
    <br>
    <div class="col-md-10">
      <label class="form-text">Description</label>
      <input type="text" name="description" class="form-control"/>
    </div>
    <br>
    <div class="col-md-10">
      <label class="form-text">lyrics</label>
      <input type="text" name="lyrics" class="form-control">
    </div>
    <br>
    <div class="col-md-10">
      <label class="form-text">Audio</label>
      <input type="file" name="audio" accept="audio/*" required class="form-control">
    </div>
  
    <div class="col-md-10">
      <label class="form-text">Image</label>
      <input type="file" name="image" accept="image/*" required class="form-control">
    </div>


    <div class="form-group col-md-10">
      <label class="form-text">Categories </label>
      <select name="categories[]" multiple="multiple" id="category" class="form-control">
        <% categories.forEach(function(category) { %>
          <option value="<%= category._id %>"><%= category.name %></option>
        <% }) %>
      </select>
    </div>
   
    
  </div>

    <input type="hidden" name="id" value="<%= currentUser._id %>">
  
    <button type="submit" class="btn btn-primary button-style"> Add Music </button>
  </form>
</body>
</html>
