<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/css/music.css">
  <script src="/script/music.js" defer></script>
  <title>Music List</title>
</head>
<body>
  <h1>Music List</h1>

  <div class="musicplayer">
    <h1 class="music-name"><%= musics[0].name %></h1>
    <p class="music-author"><%= musics[0].author %></p>
    <img class="music-image" src="musics[0].image.replace(/public/,'')" height="300" width="300" alt="">
    <audio id="audioPlayer" controls>
      Your browser does not support the audio element.
    </audio>

    <div class="song-slider">
      <input type="range" value="0" class="seekbar">
      <span class="current">00:00 <br></span>
      <span class="after">00:00 <br></span>
    </div>
    
    <button id="nextButton">Next</button>
    <button class="play-pause">Play</button>
    <button id="backButton">Back</button>
    <button id="shuffleButton">Shuffle</button>
  </div>

  <script>
    const musics = <%- JSON.stringify(musics) %>
    let currentIndex = 0

    const musicNameElement = document.querySelector('.music-name')
    const musicAuthorElement = document.querySelector('.music-author')
    const musicImageElement = document.querySelector('.music-image')
    const audioElement = document.getElementById('audioPlayer')
    const nextButton = document.getElementById('nextButton')
    const backButton = document.getElementById('backButton')
    const shuffleButton = document.getElementById('shuffleButton')

    function displayMusicDetails(index) {
      const music = musics[index]

      musicAuthorElement.textContent = music.author
      musicImageElement.src = music.image.replace(/public/, '')
      audioElement.src = music.audio.replace(/public/, '')
      audioElement.load()
      audioElement.play()
    }

    function displayNextMusic() {
      currentIndex = (currentIndex + 1) % musics.length
      displayMusicDetails(currentIndex)
    }
    
    function displayPrevMusic() {
      currentIndex = (currentIndex - 1 + musics.length) % musics.length
      displayMusicDetails(currentIndex)
    }

    function shuffleMusic(){
      let random = Math.floor(Math.random() * musics.length)
      displayMusicDetails(random)
    }

    displayMusicDetails(currentIndex)
    nextButton.addEventListener('click', displayNextMusic)
    backButton.addEventListener('click', displayPrevMusic)
    shuffleButton.addEventListener('click', shuffleMusic)
  </script>
</body>
</html>
