<h1> <%= playlist.name %> </h1>

<ul>
    <% playlist.music.forEach(function(music) { %>
    <li> <a href="/music/detail?id=<%= music._id %>">
      <%= music.name %>
    </a> 
    </li>
    <% }) %>
</ul>
